/* Обнуляємо відступи, щоб не було зайвої прокрутки */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Головний заголовок сторінки */
.main-title {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    height: 80px; 
    box-sizing: border-box;
}

/* Контейнер для 4 блоків */
.grid-container {
    font-size: 0; /* Прибираємо пробіли між inline-block елементами */
    width: 100vw;
}

/* Налаштування блоків */
.grid-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-width: 370px;
    height: calc(50vh - 40px); /* 50% висоти екрана мінус половина заголовка */
    font-size: 16px; /* Повертаємо нормальний шрифт для тексту */
    padding: 4%; 
    box-sizing: border-box; 
    border: 2px solid #e63946; /* Червона рамочка блоків */
}

/* Прибираємо подвійні червоні рамки між блоками на стиках */
.grid-item:nth-child(even) {
    border-left: none;
}
.grid-item:nth-child(n+3) {
    border-top: none;
}

/* Заголовки всередині блоків */
.grid-item h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Цифри в кружечках */
.num {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #e63946; /* Червона рамочка кружечка */
    border-radius: 50%; /* Робить ідеальне коло */
    text-align: center;
    line-height: 30px; /* Центрує цифру по вертикалі */
    margin-right: 15px; /* Відступ від кружечка до тексту */
    color: #e63946;
    font-weight: bold;
}

/* Налаштування списків */
.grid-item ul {
    /* Зсуваємо список вправо */
    padding-left: 50px; 
    margin-top: 0;
    list-style-type: none;
}

.grid-item li {
    margin-bottom: 10px;
    line-height: 1.4;
    position: relative;
}


.grid-item li::before {
    content: "-"; /* Додаємо сам символ тире */
    position: absolute;
    left: -15px; /* Виносимо тире трохи лівіше від початку тексту */
    color: inherit; /* Рисочка автоматично братиме колір тексту (буде червоною для парних) */
}

/* Парні пункти списку пофарбовані в червоний */
.grid-item li:nth-child(even) {
    color: #e63946; 
}